# 1. UI 自动化测试专属

.idea/
allure-results/
allure-report/
chrome_profile/
screenshots/
logs/
*.log

# 2. Python 核心与编译文件

__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 3. 单元测试与 Pytest 缓存

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# 4. 虚拟环境

.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 5. IDE 与 编辑器配置

.vscode/
.cursorignore
.cursorindexingignore
*.swp
*.tst

# 6. 其他

db.sqlite3
db.sqlite3-journal
.ipynb_checkpoints
.mypy_cache/
